body{
font-family: "Trebuchet MS", sans-serif;
margin: 50px;
}

/** 
    Telugu Fonts.
*/
@font-face {
font-family: 'vemana';
src: 
    url('../fonts/Vemana.ttf') 
    format('truetype');
}
@font-face {
    font-family: 'pothana';
    src: 
        url('../fonts/Pothana2000.ttf') 
        format('truetype');
}
@font-face {
    font-family: 'lohit';
    src: 
        url('../fonts/Lohit-Telugu.ttf') 
        format('truetype');
}
@font-face {
    font-family: 'baloo';
    src: 
        url('../fonts/baloo/BalooTammudu-Regular.ttf') 
        format('truetype');
}
@font-face {
    font-family: 'ponnala';
    src: 
        url('../fonts/silicon/Ponnala.ttf') 
        format('truetype');
}



@font-face {
    font-family: 'lr';
    src: 
        url('../fonts/silicon/LakkiReddy.ttf') 
        format('truetype');
}
@font-face {
    font-family: 'btr';
    src: 
        url('../fonts/silicon/BalooTammudu-Regular.ttf') 
        format('truetype');
}
@font-face {
    font-family: 'rp';
    src: 
        url('../fonts/silicon/RaviPrakash.ttf') 
        format('truetype');
}
@font-face {
    font-family: 'ramab';
    src: 
        url('../fonts/silicon/ramabhadra.ttf') 
        format('truetype');
}
@font-face {
    font-family: 'drj';
    src: 
        url('../fonts/silicon/dhurjati.ttf') 
        format('truetype');
}
@font-face {
    font-family: 'mal';
    src: 
        url('../fonts/silicon/mallanna.ttf') 
        format('truetype');
}
@font-face {
    font-family: 'ramar';
    src: 
        url('../fonts/silicon/Ramaraja-Regular.ttf') 
        format('truetype');
}
@font-face {
    font-family: 'sura';
    src: 
        url('../fonts/silicon/suranna.ttf') 
        format('truetype');
}
@font-face {
    font-family: 'trr';
    src: 
        url('../fonts/silicon/TenaliRamakrishna-Regula.ttf') 
        format('truetype');
}
@font-face {
    font-family: 'tr';
    src: 
        url('../fonts/silicon/TimmanaRegular.ttf') 
        format('truetype');
}
@font-face {
    font-family: 'peddar';
    src: 
        url('../fonts/silicon/Peddana-Regular.ttf') 
        format('truetype');
}
@font-face {
    font-family: 'sreek';
    src: 
        url('../fonts/silicon/Sree Krushnadevaraya.ttf') 
        format('truetype');
}
@font-face {
    font-family: 'nats';
    src: 
        url('../fonts/silicon/NATS.ttf') 
        format('truetype');
}
@font-face {
    font-family: 'man';
    src: 
        url('../fonts/silicon/Mandali-Regular.ttf') 
        format('truetype');
}
@font-face {
    font-family: 'ntr';
    src: 
        url('../fonts/silicon/NTR.ttf') 
        format('truetype');
}
@font-face {
    font-family: 'sur';
    src: 
        url('../fonts/silicon/Suravaram.ttf') 
        format('truetype');
}
@font-face {
    font-family: 'gura';
    src: 
        url('../fonts/silicon/Gurajada.ttf') 
        format('truetype');
}
@font-face {
    font-family: 'gidu';
    src: 
        url('../fonts/silicon/Gidugu.ttf') 
        format('truetype');
}